<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% if message %}
    <p>catch : {{ message }} 을/를 받아따 !!</p>
  {% else %}
    <p>catch : 아무것도 받지 못해따 !! </p>
  {% endif %}

  <form action="/throw_catch/second/" method="GET">
    <label for="text">throw : </label>
    <input type="text" name="message" id="text">
    <input type="submit" vlaue="submit">
  </form>

</body>
</html>