{% extends 'base.html' %}

{% block content %}
  <h2>DETAIL</h2>
  <h3>{{ article.pk }} 번째 글</h3>
  <hr>
  <p>제목 : {{ article.title }}</p>
  <p>내용 : {{ article.content }}</p>
  <p>작성시각 : {{ article.created_at }}</p>
  <p>수정시각 : {{ article.updated_at }}</p>
  <hr>
  {% if user == article.user %}
    <a href="{% url 'articles:update' article.pk %}">[UPDATE]</a>
    <form action="{% url 'articles:delete' article.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="DELETE">
    </form>
  {% endif %}
  <a href="{% url 'articles:index' %}">[back]</a>
  <hr>
  <h4>댓글 목록</h4>
  <ul id="comment-lists">
    {% for comment in comments %}
      <li id="comment-{{ comment.pk }}" data-comment-pk="{{ comment.pk }}">
        {{ comment.user }} - <span>{{ comment.content }}</span>
        {% if user == comment.user %}
          <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST" class="d-inline">
            {% csrf_token %}
            <input type="submit" value="DELETE">
          </form>
          <button id='comment-update'>수정</button>
        {% endif %}
      </li>
    {% empty %}
      <p>댓글이 없어요..</p>
    {% endfor %}
  </ul>

  <hr>
  {% if request.user.is_authenticated %}
    <form id="comment-form" data-article-id="{{ article.pk }}">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
{% endblock content %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const form = document.querySelector('#comment-form')
    const input = document.querySelector('[name=content]')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    const updateTags = document.querySelectorAll('#comment-update')

    form.addEventListener('submit', function (event) {
      event.preventDefault()
	    // 이곳에 코드를 작성하세요
      // const articleId = form.dataset.articleId

      let data = new FormData()
      data.append('content', input.value)

      axios({
        method: "POST",
        url: `/articles/{{article.pk}}/comments_create/`,
        headers: {'X-CSRFToken': csrftoken},
        data,
      })
        .then((res) => {
          // const commentPk = res.data.commentPk
          const { articlePk, commentPk } = res.data
          const newComment = document.createElement('li')
          const ulTag = document.querySelector('ul')
          // const deleteBtn = document.querySelector('#delete-btn')
          // newComment.textContent = `${ data.user } - ${ data.content }`

          newComment.innerHTML = 
          `
            {{ request.user }} - ${input.value}
            <form action="/articles/${articlePk}/comments/${commentPk}/delete" method="POST" class='d-inline'>
              {% csrf_token %}
              <input type="submit" value="DELETE">
            </form>
          `
          // if (res.data.is_auth) {
          //   newComment.appendChild(deleteBtn)
          // }

          ulTag.appendChild(newComment)
          input.value = ''
        })
        .catch((err) => {
          console.log(err)
        })

      
    })

    updateTags.forEach((btn) => {
      btn.addEventListener('click', (event) => {
        event.preventDefault()
        const commentLi = btn.parentNode
        // console.log(commentLi)
        const { commentPk } = commentLi.dataset
        // console.log(commentPk)
        const input = document.createElement('input')
        // console.log(commentLi.childNodes)
        input.value = commentLi.childNodes[1].innerText
        input.name = 'content'

        const updateBtn = document.createElement('button')
        updateBtn.textContent = 'update'
        updateBtn.addEventListener('click', (event) => {
          let data = new FormData()
          data.append('content', input.value)

          axios({
            method: "POST",
            url: `/articles/{{article.pk}}/comments/${commentPk}/update/`,
            headers: {'X-CSRFToken': csrftoken},
            data,
          })
            .then((res) => {
              // console.log(res)
              const { articlePk, commentPk } = res.data
              commentLi.innerHTML = 
              `
                {{ request.user }} - <span>${input.value}</span>
          
                <form action="/articles/${articlePk}/comments/${commentPk}/delete/" method="POST" class="d-inline">
                  {% csrf_token %}
                  <input id="delete-btn" type="submit" value="DELETE">
                </form>
              `
              commentLi.append(btn)
            })
            .catch((err) => {
              console.log(err)
            })
        })

        commentLi.textContent = ''    // 기존 내용 삭제
        
        commentLi.append(input, updateBtn)
      })
    })

  </script>
{% endblock script %}

