.board {
  border: 2px solid black;
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.black {
  background-color: black;
  width: 100px;
  height: 100px;
}

.white {
  width: 100px;
  height: 100px;
}

.pawn {
  width: 100px;
  height: auto;
  display: none;
}

.king {
  width: 100px;
  height: auto;
  position: relative;
  right: 300px;
  bottom: 300px;
}

.queen {
  width: 100px;
  height: auto;
  position: relative;
  left: 200px;
}

.rook {
  width: 100px;
  height: auto;
  position: relative;
  right: 200px;
}